// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error_messages {
  list-style: none;
}
.row {
  list-style: none;
}
.col-sm-12 {
  padding: 30px;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.list-group {
  list-style: none;
}
.list-group-item {
  padding: 20px;
}
.card-img-top {
  padding: 20px;
}
.show_page_link {
  padding: 20px;
}